@page "/Admin/All-Categories"
<div class="d-flex justify-content-center mt-2">
    <div class="w-fit d-flex flex-wrap gap-4">
        <NavLink href="/Admin/Category/Books" class="d-flex flex-column text-center gap-2 bg-primary bg-opacity-50 rounded-3 text-white width-item align-center no-underline">
            <div class="d-flex justify-content-center">
                <div class="pt-2 px-2 w-fit">
                    <div class="bi-bank-nav-menu"></div>
                </div>
            </div>
            <div class="px-2 pb-2">Loại sách</div>
        </NavLink>
        <NavLink href="/Admin/Category/Offices" class="d-flex flex-column text-center gap-2 bg-primary bg-opacity-50 rounded-3 text-white width-item align-center no-underline">
            <div class="d-flex justify-content-center">
                <div class="pt-2 px-2 w-fit">
                    <div class="bi-bank-nav-menu"></div>
                </div>
            </div>
            <div class="px-2 pb-2">Tổ chức</div>
        </NavLink>
        <NavLink href="/Admin/Category/LvTopics" class="d-flex flex-column text-center gap-2 bg-primary bg-opacity-50 rounded-3 text-white width-item align-center no-underline">
            <div class="d-flex justify-content-center">
                <div class="pt-2 px-2 w-fit">
                    <div class="bi-bank-nav-menu"></div>
                </div>
            </div>
            <div class="px-2 pb-2">Loại đề tài/đề án</div>
        </NavLink>
        <NavLink href="/Admin/Category/Proposes" class="d-flex flex-column text-center gap-2 bg-primary bg-opacity-50 rounded-3 text-white width-item align-center no-underline">
            <div class="d-flex justify-content-center">
                <div class="pt-2 px-2 w-fit">
                    <div class="bi-bank-nav-menu"></div>
                </div>
            </div>
            <div class="px-2 pb-2">Loại đề xuất</div>
        </NavLink>
        <NavLink href="/Admin/Category/Roles" class="d-flex flex-column text-center gap-2 bg-primary bg-opacity-50 rounded-3 text-white width-item align-center no-underline">
            <div class="d-flex justify-content-center">
                <div class="pt-2 px-2 w-fit">
                    <div class="bi-bank-nav-menu"></div>
                </div>
            </div>
            <div class="px-2 pb-2">Vai trò</div>
        </NavLink>
        <NavLink href="/Admin/Category/Trainings" class="d-flex flex-column text-center gap-2 bg-primary bg-opacity-50 rounded-3 text-white width-item align-center no-underline">
            <div class="d-flex justify-content-center">
                <div class="pt-2 px-2 w-fit">
                    <div class="bi-bank-nav-menu"></div>
                </div>
            </div>
            <div class="px-2 pb-2">Cấp độ đào tạo</div>
        </NavLink>
        <NavLink href="/Admin/Category/Papers" class="d-flex flex-column text-center gap-2 bg-primary bg-opacity-50 rounded-3 text-white width-item align-center no-underline">
            <div class="d-flex justify-content-center">
                <div class="pt-2 px-2 w-fit">
                    <div class="bi-bank-nav-menu"></div>
                </div>
            </div>
            <div class="px-2 pb-2">Loại bài báo</div>
        </NavLink>
        <NavLink href="/Admin/Category/Degrees" class="d-flex flex-column text-center gap-2 bg-primary bg-opacity-50 rounded-3 text-white width-item align-center no-underline">
            <div class="d-flex justify-content-center">
                <div class="pt-2 px-2 w-fit">
                    <div class="bi-bank-nav-menu"></div>
                </div>
            </div>
            <div class="px-2 pb-2">Học vị</div>
        </NavLink>
    </div>
</div>

@code {

}
