@page "/Admin/AllOffers"
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Authorization;

@attribute [Authorize(Roles = "Administrators")]

@using BlazorFE.Models.Scientist
@using BlazorFE.Services
@using BlazorFE.Components.Pages.Admin.AllOffers.Components

@inject OfferServices OfferServices
@inject NavigationManager NavigationManager

@if (listOffers != null)
{   <div class="card shadow rounded">
        <div class="p-3">
            <DataTable Searchable="true">
                <AllOffersTable OffersList="@listOffers" />
            </DataTable>
        </div>
    </div>
}

@code {
    public List<ScientistOfferRole> listOffers { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadScientists();
    }

    private async Task LoadScientists()
    {
        listOffers = (await OfferServices.GetAllOffersAsync())
            .Where(smr => smr.requestStatus == "Đã tham gia")
            .ToList();
    }
}
