USE [master]
GO
/****** Object:  Database [Final_Database]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE DATABASE [Final_Database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Final_Database', FILENAME = N'D:\BaiKT_KTDH\MSSQL16.MSSQLSERVER\MSSQL\DATA\Final_Database.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Final_Database_log', FILENAME = N'D:\BaiKT_KTDH\MSSQL16.MSSQLSERVER\MSSQL\DATA\Final_Database_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Final_Database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Final_Database]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Arseachs]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arseachs](
	[id] [nvarchar](450) NOT NULL,
	[arsearch_id] [nvarchar](max) NOT NULL,
	[arseach_name] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Arseachs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArTopics]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArTopics](
	[id] [nvarchar](450) NOT NULL,
	[artopic_id] [nvarchar](max) NOT NULL,
	[artopic_name] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ArTopics] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[role] [nvarchar](max) NULL,
	[googleId] [nvarchar](max) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[id] [nvarchar](450) NOT NULL,
	[book_name] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[id] [nvarchar](450) NOT NULL,
	[role_id] [nvarchar](450) NOT NULL,
	[category_name] [nvarchar](max) NOT NULL,
	[type] [nvarchar](max) NOT NULL,
	[training_id] [nvarchar](450) NOT NULL,
	[research_number] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConferenceCouncils]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConferenceCouncils](
	[id] [nvarchar](450) NOT NULL,
	[conference_id] [nvarchar](450) NOT NULL,
	[council_id] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_ConferenceCouncils] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conferences]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conferences](
	[id] [nvarchar](450) NOT NULL,
	[conference_name] [nvarchar](max) NOT NULL,
	[seminar_id] [nvarchar](450) NOT NULL,
	[office] [nvarchar](max) NULL,
	[unit] [nvarchar](max) NULL,
	[money] [nvarchar](max) NULL,
	[status_name] [nvarchar](max) NULL,
	[date] [datetime2](7) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Conferences] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConferenceTopics]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConferenceTopics](
	[id] [nvarchar](450) NOT NULL,
	[conference_id] [nvarchar](450) NOT NULL,
	[topic_id] [nvarchar](max) NOT NULL,
	[Topicid] [nvarchar](450) NULL,
	[presentation_date] [datetime2](7) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ConferenceTopics] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Council]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Council](
	[id] [nvarchar](450) NOT NULL,
	[decision_number] [int] NOT NULL,
	[date] [datetime2](7) NOT NULL,
	[lvCouncilId] [nvarchar](450) NOT NULL,
	[tpCouncilId] [nvarchar](450) NOT NULL,
	[council_name] [nvarchar](max) NOT NULL,
	[year] [int] NOT NULL,
 CONSTRAINT [PK_Council] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Councils]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Councils](
	[id] [nvarchar](450) NOT NULL,
	[position_name] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Councils] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CouncilTopics]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CouncilTopics](
	[id] [nvarchar](450) NOT NULL,
	[council_id] [nvarchar](450) NOT NULL,
	[topic_id] [nvarchar](max) NOT NULL,
	[Topicid] [nvarchar](450) NULL,
	[decision] [nvarchar](max) NOT NULL,
	[reviewed_at] [datetime2](7) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_CouncilTopics] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curriculums]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curriculums](
	[id] [nvarchar](450) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[year] [int] NOT NULL,
	[publisher] [nvarchar](max) NOT NULL,
	[book_id] [nvarchar](450) NOT NULL,
	[training_id] [nvarchar](450) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Curriculums] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Degrees]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Degrees](
	[id] [nvarchar](450) NOT NULL,
	[degree_name] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Degrees] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Files]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Files](
	[id] [nvarchar](450) NOT NULL,
	[original_name] [nvarchar](max) NOT NULL,
	[file_type] [nvarchar](max) NOT NULL,
	[related_id] [nvarchar](max) NOT NULL,
	[related_type] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[file_content] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_Files] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LvCouncils]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LvCouncils](
	[id] [nvarchar](450) NOT NULL,
	[lvcoucil_name] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_LvCouncils] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LvTopics]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LvTopics](
	[id] [nvarchar](450) NOT NULL,
	[lvtopic_name] [nvarchar](max) NOT NULL,
	[category] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_LvTopics] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Magazines]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Magazines](
	[id] [nvarchar](450) NOT NULL,
	[magazine_name] [nvarchar](max) NOT NULL,
	[year] [int] NOT NULL,
	[journal] [nvarchar](max) NOT NULL,
	[paper_id] [nvarchar](450) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[magazine_scope] [nvarchar](max) NULL,
	[rank] [nvarchar](max) NULL,
	[magazine_score_id] [nvarchar](450) NULL,
 CONSTRAINT [PK_Magazines] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MagazineScores]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MagazineScores](
	[id] [nvarchar](450) NOT NULL,
	[magazine_score_name] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[scope] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_MagazineScores] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Moneys]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Moneys](
	[id] [nvarchar](450) NOT NULL,
	[money_name] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Moneys] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Offers]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Offers](
	[id] [nvarchar](450) NOT NULL,
	[year] [int] NOT NULL,
	[offer_name] [nvarchar](max) NOT NULL,
	[propose_id] [nvarchar](450) NOT NULL,
	[note] [nvarchar](max) NULL,
	[status] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Offers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Offices]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Offices](
	[id] [nvarchar](450) NOT NULL,
	[office_id] [nvarchar](max) NOT NULL,
	[office_name] [nvarchar](max) NOT NULL,
	[address] [nvarchar](max) NULL,
	[phone] [int] NULL,
	[email] [nvarchar](max) NULL,
	[office_parent] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Offices] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Papers]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Papers](
	[id] [nvarchar](450) NOT NULL,
	[paper_name] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Papers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[id] [nvarchar](450) NOT NULL,
	[product_name] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[id] [nvarchar](450) NOT NULL,
	[title] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NULL,
	[reseacher_id] [nvarchar](max) NOT NULL,
	[researcherid] [nvarchar](450) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_by] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proposes]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proposes](
	[id] [nvarchar](450) NOT NULL,
	[propose_name] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Proposes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Researchers]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Researchers](
	[id] [nvarchar](450) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Researchers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id] [nvarchar](450) NOT NULL,
	[role_name] [nvarchar](max) NOT NULL,
	[role_type] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScientistCurriculumRoles]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScientistCurriculumRoles](
	[id] [nvarchar](450) NOT NULL,
	[scientist_id] [nvarchar](450) NOT NULL,
	[curriculum_id] [nvarchar](450) NOT NULL,
	[role_id] [nvarchar](450) NOT NULL,
	[status] [bit] NULL,
	[requestStatus] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ScientistCurriculumRoles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScientistMagazineRoles]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScientistMagazineRoles](
	[id] [nvarchar](450) NOT NULL,
	[scientist_id] [nvarchar](450) NOT NULL,
	[magazine_id] [nvarchar](450) NOT NULL,
	[role_id] [nvarchar](450) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[requestStatus] [nvarchar](max) NULL,
	[status] [bit] NULL,
	[ScientistRequestid] [nvarchar](450) NULL,
 CONSTRAINT [PK_ScientistMagazineRoles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScientistOfferRoles]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScientistOfferRoles](
	[id] [nvarchar](450) NOT NULL,
	[scientist_id] [nvarchar](450) NOT NULL,
	[offer_id] [nvarchar](450) NOT NULL,
	[role_id] [nvarchar](450) NOT NULL,
	[status] [bit] NULL,
	[requestStatus] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ScientistOfferRoles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Scientists]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Scientists](
	[id] [nvarchar](450) NOT NULL,
	[user_id] [nvarchar](max) NULL,
	[profile_id] [nvarchar](max) NOT NULL,
	[profile_name] [nvarchar](max) NOT NULL,
	[birthday] [datetime2](7) NULL,
	[gender] [nvarchar](max) NULL,
	[birth_place] [nvarchar](max) NULL,
	[address] [nvarchar](max) NULL,
	[office_phone] [nvarchar](max) NULL,
	[house_phone] [nvarchar](max) NULL,
	[phone] [nvarchar](max) NULL,
	[email] [nvarchar](max) NULL,
	[degree_id] [nvarchar](450) NOT NULL,
	[nvestiture] [nvarchar](max) NULL,
	[scientific_title] [nvarchar](max) NULL,
	[research_major] [nvarchar](max) NULL,
	[research_title] [nvarchar](max) NULL,
	[research_position] [nvarchar](max) NULL,
	[office_id] [nvarchar](450) NULL,
	[address_office] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Scientists] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScientistTopicRoles]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScientistTopicRoles](
	[id] [nvarchar](450) NOT NULL,
	[scientist_id] [nvarchar](450) NOT NULL,
	[topic_id] [nvarchar](450) NOT NULL,
	[role_id] [nvarchar](450) NOT NULL,
	[status] [bit] NULL,
	[requestStatus] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ScientistTopicRoles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Scores]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Scores](
	[id] [nvarchar](450) NOT NULL,
	[year] [int] NOT NULL,
	[decision_num] [nvarchar](max) NOT NULL,
	[tbscore_name] [nvarchar](max) NOT NULL,
	[mark] [int] NOT NULL,
	[council] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Scores] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seminars]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seminars](
	[id] [nvarchar](450) NOT NULL,
	[seminar_name] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Seminars] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suggesttions]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suggesttions](
	[id] [nvarchar](450) NOT NULL,
	[suggestion_id] [nvarchar](max) NOT NULL,
	[suggestion_name] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Suggesttions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topics]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topics](
	[id] [nvarchar](450) NOT NULL,
	[topic_name] [nvarchar](max) NOT NULL,
	[result] [nvarchar](max) NOT NULL,
	[lvtopic_id] [nvarchar](450) NOT NULL,
	[start_date] [datetime2](7) NULL,
	[end_date] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Topics] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TpCouncils]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TpCouncils](
	[id] [nvarchar](450) NOT NULL,
	[tpCouncilId] [nvarchar](max) NOT NULL,
	[tpcouncil_name] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TpCouncils] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trainings]    Script Date: 2/8/2025 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trainings](
	[id] [nvarchar](450) NOT NULL,
	[training_name] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Trainings] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250113101118_addInitialData', N'8.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250113111309_updateProject', N'8.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250114023309_updateJoinMagazine', N'8.0.11')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'adbc9a97-1e6e-4705-bfa4-69f917cdb354', N'User', N'USER', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'efd97393-4810-470a-bad1-7f9eff4c7543', N'Administrators', N'ADMINISTRATORS', NULL)
GO
INSERT [dbo].[AspNetUserLogins] ([LoginProvider], [ProviderKey], [ProviderDisplayName], [UserId]) VALUES (N'Google', N'109263800306905871301', N'Google', N'902c7cef-84ac-41fd-8934-4f5b3cb63b19')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'771aa184-a15e-4f80-826d-eae63bf70379', N'adbc9a97-1e6e-4705-bfa4-69f917cdb354')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'902c7cef-84ac-41fd-8934-4f5b3cb63b19', N'adbc9a97-1e6e-4705-bfa4-69f917cdb354')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'df39037f-d485-462a-a49d-40cb6d5235c2', N'efd97393-4810-470a-bad1-7f9eff4c7543')
GO
INSERT [dbo].[AspNetUsers] ([Id], [role], [googleId], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'902c7cef-84ac-41fd-8934-4f5b3cb63b19', NULL, NULL, N'ducthang191102@gmail.com', N'DUCTHANG191102@GMAIL.COM', N'ducthang191102@gmail.com', N'DUCTHANG191102@GMAIL.COM', 1, NULL, N'DDH627STYSXGAY4PQEHI3SJ4TFQTP2DX', N'909af2e8-e7e9-4000-96f1-2ba9c6107eb2', NULL, 0, 0, NULL, 1, 0)
GO
INSERT [dbo].[Books] ([id], [book_name], [created_at], [updated_at]) VALUES (N'3ed00c66-dbcd-420a-880f-675703bbcc3d', N'Sách tham khảo', CAST(N'2025-01-13T22:06:58.0199366' AS DateTime2), CAST(N'2025-01-13T22:06:58.0200070' AS DateTime2))
GO
INSERT [dbo].[Curriculums] ([id], [name], [year], [publisher], [book_id], [training_id], [created_at], [updated_at]) VALUES (N'96b1c773-4680-46b6-893d-9aa8cc111d6a', N'ssss', 2025, N'ssseeee', N'3ed00c66-dbcd-420a-880f-675703bbcc3d', N'860005c8-d072-4564-83c9-7bdf68b47689', CAST(N'2025-01-13T22:20:40.0358146' AS DateTime2), CAST(N'2025-01-13T22:20:40.0358790' AS DateTime2))
GO
INSERT [dbo].[Degrees] ([id], [degree_name], [created_at], [updated_at]) VALUES (N'97848a2e-d1fa-4535-832a-4f3814d4b44c', N'Thạc sĩ', CAST(N'2025-01-13T21:38:41.0935771' AS DateTime2), CAST(N'2025-01-13T21:38:41.0936247' AS DateTime2))
GO
INSERT [dbo].[LvTopics] ([id], [lvtopic_name], [category], [created_at], [updated_at]) VALUES (N'd146f151-a67a-455a-a2fa-6a7417184eac', N'Đề tài cấp cơ sở phân cấp', 0, CAST(N'2025-01-13T22:06:43.1957763' AS DateTime2), CAST(N'2025-01-13T22:06:43.1958213' AS DateTime2))
GO
INSERT [dbo].[Magazines] ([id], [magazine_name], [year], [journal], [paper_id], [created_at], [updated_at], [magazine_scope], [rank], [magazine_score_id]) VALUES (N'191574dd-dc6f-49fb-9492-ec18b71de07f', N'yyyyyytttt', 2019, N'yyyytdd', N'8c83e982-ea73-4d5f-894c-a70134743856', CAST(N'2025-01-25T15:16:15.5297666' AS DateTime2), CAST(N'2025-01-25T17:45:54.1575065' AS DateTime2), N'Trong_nước', N'Q3', N'12bd6e96-5db9-49b0-b235-ddd273b55328')
INSERT [dbo].[Magazines] ([id], [magazine_name], [year], [journal], [paper_id], [created_at], [updated_at], [magazine_scope], [rank], [magazine_score_id]) VALUES (N'894d0a14-1209-47bd-a0d8-5021c999d6e5', N'tét', 2025, N'yyyy', N'8c83e982-ea73-4d5f-894c-a70134743856', CAST(N'2025-01-13T22:20:25.6517886' AS DateTime2), CAST(N'2025-01-13T22:20:25.6518456' AS DateTime2), NULL, NULL, NULL)
GO
INSERT [dbo].[MagazineScores] ([id], [magazine_score_name], [created_at], [updated_at], [scope]) VALUES (N'12bd6e96-5db9-49b0-b235-ddd273b55328', N'cccc', CAST(N'2025-01-25T08:15:16.0726045' AS DateTime2), CAST(N'2025-01-25T08:15:16.0726046' AS DateTime2), N'Trong_nước')
INSERT [dbo].[MagazineScores] ([id], [magazine_score_name], [created_at], [updated_at], [scope]) VALUES (N'715e2819-6b7d-4ece-9669-69001d03cfbd', N'ccccc', CAST(N'2025-01-25T08:15:10.1304601' AS DateTime2), CAST(N'2025-01-25T08:15:10.1304602' AS DateTime2), N'Quốc_tế')
GO
INSERT [dbo].[Offers] ([id], [year], [offer_name], [propose_id], [note], [status], [created_at], [updated_at]) VALUES (N'43325be8-e91a-4a1d-a656-99d58ee5a871', 2024, N'Tesst', N'78178189-d48a-49d4-a1d5-a061ac5eb1a1', NULL, N'Chưa duyệt', CAST(N'2025-01-13T22:18:09.9645187' AS DateTime2), CAST(N'2025-01-13T22:18:09.9645775' AS DateTime2))
GO
INSERT [dbo].[Offices] ([id], [office_id], [office_name], [address], [phone], [email], [office_parent], [created_at], [updated_at]) VALUES (N'3af32e6c-1b06-4a19-a568-120e1eb54f34', N'HAU-001', N'Khoa CNTT', N'Trường Đại học Kiến Trúc Hà Nội', NULL, NULL, N'Trường Đại học Kiến Trúc Hà Nội', CAST(N'2025-01-13T21:39:22.0622975' AS DateTime2), CAST(N'2025-01-13T21:39:22.0623629' AS DateTime2))
GO
INSERT [dbo].[Papers] ([id], [paper_name], [created_at], [updated_at]) VALUES (N'8c83e982-ea73-4d5f-894c-a70134743856', N'Tạ chí tuổi trẻ', CAST(N'2025-01-13T15:08:00.1728340' AS DateTime2), CAST(N'2025-01-13T15:08:00.1728342' AS DateTime2))
GO
INSERT [dbo].[Proposes] ([id], [propose_name], [created_at], [updated_at]) VALUES (N'78178189-d48a-49d4-a1d5-a061ac5eb1a1', N'Test', CAST(N'2025-01-13T22:07:12.6442462' AS DateTime2), CAST(N'2025-01-13T22:07:12.6443005' AS DateTime2))
GO
INSERT [dbo].[Roles] ([id], [role_name], [role_type], [created_at], [updated_at]) VALUES (N'1dccf515-dd00-4aae-bf07-4d25b29673c2', N'Thư ký', N'topic', CAST(N'2025-01-13T21:38:07.3174165' AS DateTime2), CAST(N'2025-01-13T21:38:07.3174180' AS DateTime2))
INSERT [dbo].[Roles] ([id], [role_name], [role_type], [created_at], [updated_at]) VALUES (N'302d6d62-6ef3-485d-9512-c72284060f88', N'Chủ biên', N'curriculum', CAST(N'2025-01-13T22:04:59.6683243' AS DateTime2), CAST(N'2025-01-13T22:04:59.6686102' AS DateTime2))
INSERT [dbo].[Roles] ([id], [role_name], [role_type], [created_at], [updated_at]) VALUES (N'3527fddd-0cad-436d-832b-e811e3b6398c', N'Đồng tác giả', N'magazine', CAST(N'2025-01-13T22:06:15.2835040' AS DateTime2), CAST(N'2025-01-13T22:06:15.2835051' AS DateTime2))
GO
INSERT [dbo].[ScientistCurriculumRoles] ([id], [scientist_id], [curriculum_id], [role_id], [status], [requestStatus], [created_at], [updated_at]) VALUES (N'7a21b797-1c09-46b1-8183-ab6e78e27af8', N'611d6650-e2e7-4f98-8e9f-2fbdbc674470', N'96b1c773-4680-46b6-893d-9aa8cc111d6a', N'90f5e838-49b6-44bb-b368-f309a818acfa', NULL, N'Chờ duyệt', CAST(N'2025-01-13T15:31:12.0842054' AS DateTime2), CAST(N'2025-01-13T15:31:12.0842494' AS DateTime2))
INSERT [dbo].[ScientistCurriculumRoles] ([id], [scientist_id], [curriculum_id], [role_id], [status], [requestStatus], [created_at], [updated_at]) VALUES (N'e1742873-97bc-4724-8868-5f8ce0effb0d', N'ce5367e3-bffc-41e0-a49b-a082c1c9e536', N'96b1c773-4680-46b6-893d-9aa8cc111d6a', N'bef60ca1-d83e-4e94-9109-c1b4fe28909d', NULL, N'Đã tham gia', CAST(N'2025-01-13T15:20:40.0571897' AS DateTime2), CAST(N'2025-01-13T15:20:40.0572324' AS DateTime2))
GO
INSERT [dbo].[ScientistMagazineRoles] ([id], [scientist_id], [magazine_id], [role_id], [created_at], [updated_at], [requestStatus], [status], [ScientistRequestid]) VALUES (N'1c9a3a4b-d0ac-4b13-84e8-fac0aa0db16b', N'ce5367e3-bffc-41e0-a49b-a082c1c9e536', N'191574dd-dc6f-49fb-9492-ec18b71de07f', N'3527fddd-0cad-436d-832b-e811e3b6398c', CAST(N'2025-01-25T08:16:15.7242330' AS DateTime2), CAST(N'2025-01-25T17:45:54.2651719' AS DateTime2), N'Đã tham gia', 0, NULL)
INSERT [dbo].[ScientistMagazineRoles] ([id], [scientist_id], [magazine_id], [role_id], [created_at], [updated_at], [requestStatus], [status], [ScientistRequestid]) VALUES (N'6715de41-6e15-40eb-920f-e281fa0e72e3', N'ce5367e3-bffc-41e0-a49b-a082c1c9e536', N'894d0a14-1209-47bd-a0d8-5021c999d6e5', N'71610553-bba4-40c0-9e9c-f750d4a7e13c', CAST(N'2025-01-13T15:20:25.6783604' AS DateTime2), CAST(N'2025-01-13T15:20:25.6784001' AS DateTime2), NULL, 0, NULL)
INSERT [dbo].[ScientistMagazineRoles] ([id], [scientist_id], [magazine_id], [role_id], [created_at], [updated_at], [requestStatus], [status], [ScientistRequestid]) VALUES (N'bea49070-6e5b-46ec-bed3-d1100be0031f', N'611d6650-e2e7-4f98-8e9f-2fbdbc674470', N'191574dd-dc6f-49fb-9492-ec18b71de07f', N'71610553-bba4-40c0-9e9c-f750d4a7e13c', CAST(N'2025-01-25T08:20:33.7173747' AS DateTime2), CAST(N'2025-01-25T15:50:28.0718837' AS DateTime2), N'Đã tham gia', 0, NULL)
GO
INSERT [dbo].[ScientistOfferRoles] ([id], [scientist_id], [offer_id], [role_id], [status], [requestStatus], [created_at], [updated_at]) VALUES (N'2f1e91d5-4101-4b08-911f-92c214293416', N'611d6650-e2e7-4f98-8e9f-2fbdbc674470', N'43325be8-e91a-4a1d-a656-99d58ee5a871', N'3fbc7c67-725c-4a81-a1ed-c29b19b4f599', NULL, N'Chờ duyệt', CAST(N'2025-01-13T15:31:00.7737598' AS DateTime2), CAST(N'2025-01-13T15:31:00.7737979' AS DateTime2))
INSERT [dbo].[ScientistOfferRoles] ([id], [scientist_id], [offer_id], [role_id], [status], [requestStatus], [created_at], [updated_at]) VALUES (N'fd5fd77a-98a5-448e-a6fa-78a8cd9fff9a', N'ce5367e3-bffc-41e0-a49b-a082c1c9e536', N'43325be8-e91a-4a1d-a656-99d58ee5a871', N'c0e93c55-77be-4af3-bc3a-726f08a2b99e', NULL, N'Đã tham gia', CAST(N'2025-01-13T15:18:10.1041265' AS DateTime2), CAST(N'2025-01-13T15:18:10.1041653' AS DateTime2))
GO
INSERT [dbo].[ScientistTopicRoles] ([id], [scientist_id], [topic_id], [role_id], [status], [requestStatus], [created_at], [updated_at]) VALUES (N'9fa1971b-746d-4f37-80e2-8a12d830195a', N'ce5367e3-bffc-41e0-a49b-a082c1c9e536', N'7e11e917-4afc-413b-962b-0ed942b6c7c4', N'c0e93c55-77be-4af3-bc3a-726f08a2b99e', 0, N'Đã tham gia', CAST(N'2025-01-13T15:20:02.4670891' AS DateTime2), CAST(N'2025-01-13T15:20:02.4671270' AS DateTime2))
INSERT [dbo].[ScientistTopicRoles] ([id], [scientist_id], [topic_id], [role_id], [status], [requestStatus], [created_at], [updated_at]) VALUES (N'd46d6abf-6a6b-4b1d-a2a6-2ff03298d150', N'611d6650-e2e7-4f98-8e9f-2fbdbc674470', N'7e11e917-4afc-413b-962b-0ed942b6c7c4', N'1dccf515-dd00-4aae-bf07-4d25b29673c2', 0, N'Chờ duyệt', CAST(N'2025-01-13T15:28:42.0446437' AS DateTime2), CAST(N'2025-01-13T15:28:42.0446438' AS DateTime2))
GO
INSERT [dbo].[Topics] ([id], [topic_name], [result], [lvtopic_id], [start_date], [end_date], [created_at], [updated_at]) VALUES (N'7e11e917-4afc-413b-962b-0ed942b6c7c4', N'tét', N'Khá', N'd146f151-a67a-455a-a2fa-6a7417184eac', CAST(N'2025-01-09T00:00:00.0000000' AS DateTime2), CAST(N'2025-01-18T00:00:00.0000000' AS DateTime2), CAST(N'2025-01-13T22:20:02.3330141' AS DateTime2), CAST(N'2025-01-13T22:20:02.3333869' AS DateTime2))
GO
INSERT [dbo].[Trainings] ([id], [training_name], [created_at], [updated_at]) VALUES (N'860005c8-d072-4564-83c9-7bdf68b47689', N'Test', CAST(N'2025-01-13T22:07:37.4437086' AS DateTime2), CAST(N'2025-01-13T22:07:37.4437596' AS DateTime2))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Categories_role_id]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_Categories_role_id] ON [dbo].[Categories]
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Categories_training_id]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_Categories_training_id] ON [dbo].[Categories]
(
	[training_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ConferenceCouncils_conference_id]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_ConferenceCouncils_conference_id] ON [dbo].[ConferenceCouncils]
(
	[conference_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ConferenceCouncils_council_id]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_ConferenceCouncils_council_id] ON [dbo].[ConferenceCouncils]
(
	[council_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Conferences_seminar_id]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_Conferences_seminar_id] ON [dbo].[Conferences]
(
	[seminar_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ConferenceTopics_conference_id]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_ConferenceTopics_conference_id] ON [dbo].[ConferenceTopics]
(
	[conference_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ConferenceTopics_Topicid]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_ConferenceTopics_Topicid] ON [dbo].[ConferenceTopics]
(
	[Topicid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Council_lvCouncilId]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_Council_lvCouncilId] ON [dbo].[Council]
(
	[lvCouncilId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Council_tpCouncilId]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_Council_tpCouncilId] ON [dbo].[Council]
(
	[tpCouncilId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CouncilTopics_council_id]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_CouncilTopics_council_id] ON [dbo].[CouncilTopics]
(
	[council_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CouncilTopics_Topicid]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_CouncilTopics_Topicid] ON [dbo].[CouncilTopics]
(
	[Topicid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Curriculums_book_id]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_Curriculums_book_id] ON [dbo].[Curriculums]
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Curriculums_training_id]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_Curriculums_training_id] ON [dbo].[Curriculums]
(
	[training_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Magazines_magazine_score_id]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_Magazines_magazine_score_id] ON [dbo].[Magazines]
(
	[magazine_score_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Magazines_paper_id]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_Magazines_paper_id] ON [dbo].[Magazines]
(
	[paper_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Offers_propose_id]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_Offers_propose_id] ON [dbo].[Offers]
(
	[propose_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Projects_researcherid]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_Projects_researcherid] ON [dbo].[Projects]
(
	[researcherid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ScientistCurriculumRoles_curriculum_id]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_ScientistCurriculumRoles_curriculum_id] ON [dbo].[ScientistCurriculumRoles]
(
	[curriculum_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ScientistCurriculumRoles_role_id]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_ScientistCurriculumRoles_role_id] ON [dbo].[ScientistCurriculumRoles]
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ScientistCurriculumRoles_scientist_id]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_ScientistCurriculumRoles_scientist_id] ON [dbo].[ScientistCurriculumRoles]
(
	[scientist_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ScientistMagazineRoles_magazine_id]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_ScientistMagazineRoles_magazine_id] ON [dbo].[ScientistMagazineRoles]
(
	[magazine_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ScientistMagazineRoles_role_id]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_ScientistMagazineRoles_role_id] ON [dbo].[ScientistMagazineRoles]
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ScientistMagazineRoles_scientist_id]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_ScientistMagazineRoles_scientist_id] ON [dbo].[ScientistMagazineRoles]
(
	[scientist_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ScientistMagazineRoles_ScientistRequestid]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_ScientistMagazineRoles_ScientistRequestid] ON [dbo].[ScientistMagazineRoles]
(
	[ScientistRequestid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ScientistOfferRoles_offer_id]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_ScientistOfferRoles_offer_id] ON [dbo].[ScientistOfferRoles]
(
	[offer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ScientistOfferRoles_role_id]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_ScientistOfferRoles_role_id] ON [dbo].[ScientistOfferRoles]
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ScientistOfferRoles_scientist_id]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_ScientistOfferRoles_scientist_id] ON [dbo].[ScientistOfferRoles]
(
	[scientist_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Scientists_degree_id]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_Scientists_degree_id] ON [dbo].[Scientists]
(
	[degree_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Scientists_office_id]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_Scientists_office_id] ON [dbo].[Scientists]
(
	[office_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ScientistTopicRoles_role_id]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_ScientistTopicRoles_role_id] ON [dbo].[ScientistTopicRoles]
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ScientistTopicRoles_scientist_id]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_ScientistTopicRoles_scientist_id] ON [dbo].[ScientistTopicRoles]
(
	[scientist_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ScientistTopicRoles_topic_id]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_ScientistTopicRoles_topic_id] ON [dbo].[ScientistTopicRoles]
(
	[topic_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Topics_lvtopic_id]    Script Date: 2/8/2025 11:28:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_Topics_lvtopic_id] ON [dbo].[Topics]
(
	[lvtopic_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Council] ADD  DEFAULT (N'') FOR [lvCouncilId]
GO
ALTER TABLE [dbo].[Council] ADD  DEFAULT (N'') FOR [tpCouncilId]
GO
ALTER TABLE [dbo].[Files] ADD  DEFAULT (0x) FOR [file_content]
GO
ALTER TABLE [dbo].[MagazineScores] ADD  DEFAULT (N'') FOR [scope]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Roles_role_id] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Roles_role_id]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Trainings_training_id] FOREIGN KEY([training_id])
REFERENCES [dbo].[Trainings] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Trainings_training_id]
GO
ALTER TABLE [dbo].[ConferenceCouncils]  WITH CHECK ADD  CONSTRAINT [FK_ConferenceCouncils_Conferences_conference_id] FOREIGN KEY([conference_id])
REFERENCES [dbo].[Conferences] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ConferenceCouncils] CHECK CONSTRAINT [FK_ConferenceCouncils_Conferences_conference_id]
GO
ALTER TABLE [dbo].[ConferenceCouncils]  WITH CHECK ADD  CONSTRAINT [FK_ConferenceCouncils_Council_council_id] FOREIGN KEY([council_id])
REFERENCES [dbo].[Council] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ConferenceCouncils] CHECK CONSTRAINT [FK_ConferenceCouncils_Council_council_id]
GO
ALTER TABLE [dbo].[Conferences]  WITH CHECK ADD  CONSTRAINT [FK_Conferences_Seminars_seminar_id] FOREIGN KEY([seminar_id])
REFERENCES [dbo].[Seminars] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Conferences] CHECK CONSTRAINT [FK_Conferences_Seminars_seminar_id]
GO
ALTER TABLE [dbo].[ConferenceTopics]  WITH CHECK ADD  CONSTRAINT [FK_ConferenceTopics_Conferences_conference_id] FOREIGN KEY([conference_id])
REFERENCES [dbo].[Conferences] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ConferenceTopics] CHECK CONSTRAINT [FK_ConferenceTopics_Conferences_conference_id]
GO
ALTER TABLE [dbo].[ConferenceTopics]  WITH CHECK ADD  CONSTRAINT [FK_ConferenceTopics_Topics_Topicid] FOREIGN KEY([Topicid])
REFERENCES [dbo].[Topics] ([id])
GO
ALTER TABLE [dbo].[ConferenceTopics] CHECK CONSTRAINT [FK_ConferenceTopics_Topics_Topicid]
GO
ALTER TABLE [dbo].[Council]  WITH CHECK ADD  CONSTRAINT [FK_Council_LvCouncils_lvCouncilId] FOREIGN KEY([lvCouncilId])
REFERENCES [dbo].[LvCouncils] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Council] CHECK CONSTRAINT [FK_Council_LvCouncils_lvCouncilId]
GO
ALTER TABLE [dbo].[Council]  WITH CHECK ADD  CONSTRAINT [FK_Council_TpCouncils_tpCouncilId] FOREIGN KEY([tpCouncilId])
REFERENCES [dbo].[TpCouncils] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Council] CHECK CONSTRAINT [FK_Council_TpCouncils_tpCouncilId]
GO
ALTER TABLE [dbo].[CouncilTopics]  WITH CHECK ADD  CONSTRAINT [FK_CouncilTopics_Council_council_id] FOREIGN KEY([council_id])
REFERENCES [dbo].[Council] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CouncilTopics] CHECK CONSTRAINT [FK_CouncilTopics_Council_council_id]
GO
ALTER TABLE [dbo].[CouncilTopics]  WITH CHECK ADD  CONSTRAINT [FK_CouncilTopics_Topics_Topicid] FOREIGN KEY([Topicid])
REFERENCES [dbo].[Topics] ([id])
GO
ALTER TABLE [dbo].[CouncilTopics] CHECK CONSTRAINT [FK_CouncilTopics_Topics_Topicid]
GO
ALTER TABLE [dbo].[Curriculums]  WITH CHECK ADD  CONSTRAINT [FK_Curriculums_Books_book_id] FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Curriculums] CHECK CONSTRAINT [FK_Curriculums_Books_book_id]
GO
ALTER TABLE [dbo].[Curriculums]  WITH CHECK ADD  CONSTRAINT [FK_Curriculums_Trainings_training_id] FOREIGN KEY([training_id])
REFERENCES [dbo].[Trainings] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Curriculums] CHECK CONSTRAINT [FK_Curriculums_Trainings_training_id]
GO
ALTER TABLE [dbo].[Magazines]  WITH CHECK ADD  CONSTRAINT [FK_Magazines_MagazineScores_magazine_score_id] FOREIGN KEY([magazine_score_id])
REFERENCES [dbo].[MagazineScores] ([id])
GO
ALTER TABLE [dbo].[Magazines] CHECK CONSTRAINT [FK_Magazines_MagazineScores_magazine_score_id]
GO
ALTER TABLE [dbo].[Magazines]  WITH CHECK ADD  CONSTRAINT [FK_Magazines_Papers_paper_id] FOREIGN KEY([paper_id])
REFERENCES [dbo].[Papers] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Magazines] CHECK CONSTRAINT [FK_Magazines_Papers_paper_id]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [FK_Offers_Proposes_propose_id] FOREIGN KEY([propose_id])
REFERENCES [dbo].[Proposes] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [FK_Offers_Proposes_propose_id]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_Researchers_researcherid] FOREIGN KEY([researcherid])
REFERENCES [dbo].[Researchers] ([id])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_Researchers_researcherid]
GO
ALTER TABLE [dbo].[ScientistCurriculumRoles]  WITH CHECK ADD  CONSTRAINT [FK_ScientistCurriculumRoles_Curriculums_curriculum_id] FOREIGN KEY([curriculum_id])
REFERENCES [dbo].[Curriculums] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScientistCurriculumRoles] CHECK CONSTRAINT [FK_ScientistCurriculumRoles_Curriculums_curriculum_id]
GO
ALTER TABLE [dbo].[ScientistCurriculumRoles]  WITH CHECK ADD  CONSTRAINT [FK_ScientistCurriculumRoles_Roles_role_id] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScientistCurriculumRoles] CHECK CONSTRAINT [FK_ScientistCurriculumRoles_Roles_role_id]
GO
ALTER TABLE [dbo].[ScientistCurriculumRoles]  WITH CHECK ADD  CONSTRAINT [FK_ScientistCurriculumRoles_Scientists_scientist_id] FOREIGN KEY([scientist_id])
REFERENCES [dbo].[Scientists] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScientistCurriculumRoles] CHECK CONSTRAINT [FK_ScientistCurriculumRoles_Scientists_scientist_id]
GO
ALTER TABLE [dbo].[ScientistMagazineRoles]  WITH CHECK ADD  CONSTRAINT [FK_ScientistMagazineRoles_Magazines_magazine_id] FOREIGN KEY([magazine_id])
REFERENCES [dbo].[Magazines] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScientistMagazineRoles] CHECK CONSTRAINT [FK_ScientistMagazineRoles_Magazines_magazine_id]
GO
ALTER TABLE [dbo].[ScientistMagazineRoles]  WITH CHECK ADD  CONSTRAINT [FK_ScientistMagazineRoles_Roles_role_id] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScientistMagazineRoles] CHECK CONSTRAINT [FK_ScientistMagazineRoles_Roles_role_id]
GO
ALTER TABLE [dbo].[ScientistMagazineRoles]  WITH CHECK ADD  CONSTRAINT [FK_ScientistMagazineRoles_Scientists_scientist_id] FOREIGN KEY([scientist_id])
REFERENCES [dbo].[Scientists] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScientistMagazineRoles] CHECK CONSTRAINT [FK_ScientistMagazineRoles_Scientists_scientist_id]
GO
ALTER TABLE [dbo].[ScientistMagazineRoles]  WITH CHECK ADD  CONSTRAINT [FK_ScientistMagazineRoles_Scientists_ScientistRequestid] FOREIGN KEY([ScientistRequestid])
REFERENCES [dbo].[Scientists] ([id])
GO
ALTER TABLE [dbo].[ScientistMagazineRoles] CHECK CONSTRAINT [FK_ScientistMagazineRoles_Scientists_ScientistRequestid]
GO
ALTER TABLE [dbo].[ScientistOfferRoles]  WITH CHECK ADD  CONSTRAINT [FK_ScientistOfferRoles_Offers_offer_id] FOREIGN KEY([offer_id])
REFERENCES [dbo].[Offers] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScientistOfferRoles] CHECK CONSTRAINT [FK_ScientistOfferRoles_Offers_offer_id]
GO
ALTER TABLE [dbo].[ScientistOfferRoles]  WITH CHECK ADD  CONSTRAINT [FK_ScientistOfferRoles_Roles_role_id] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScientistOfferRoles] CHECK CONSTRAINT [FK_ScientistOfferRoles_Roles_role_id]
GO
ALTER TABLE [dbo].[ScientistOfferRoles]  WITH CHECK ADD  CONSTRAINT [FK_ScientistOfferRoles_Scientists_scientist_id] FOREIGN KEY([scientist_id])
REFERENCES [dbo].[Scientists] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScientistOfferRoles] CHECK CONSTRAINT [FK_ScientistOfferRoles_Scientists_scientist_id]
GO
ALTER TABLE [dbo].[Scientists]  WITH CHECK ADD  CONSTRAINT [FK_Scientists_Degrees_degree_id] FOREIGN KEY([degree_id])
REFERENCES [dbo].[Degrees] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Scientists] CHECK CONSTRAINT [FK_Scientists_Degrees_degree_id]
GO
ALTER TABLE [dbo].[Scientists]  WITH CHECK ADD  CONSTRAINT [FK_Scientists_Offices_office_id] FOREIGN KEY([office_id])
REFERENCES [dbo].[Offices] ([id])
GO
ALTER TABLE [dbo].[Scientists] CHECK CONSTRAINT [FK_Scientists_Offices_office_id]
GO
ALTER TABLE [dbo].[ScientistTopicRoles]  WITH CHECK ADD  CONSTRAINT [FK_ScientistTopicRoles_Roles_role_id] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScientistTopicRoles] CHECK CONSTRAINT [FK_ScientistTopicRoles_Roles_role_id]
GO
ALTER TABLE [dbo].[ScientistTopicRoles]  WITH CHECK ADD  CONSTRAINT [FK_ScientistTopicRoles_Scientists_scientist_id] FOREIGN KEY([scientist_id])
REFERENCES [dbo].[Scientists] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScientistTopicRoles] CHECK CONSTRAINT [FK_ScientistTopicRoles_Scientists_scientist_id]
GO
ALTER TABLE [dbo].[ScientistTopicRoles]  WITH CHECK ADD  CONSTRAINT [FK_ScientistTopicRoles_Topics_topic_id] FOREIGN KEY([topic_id])
REFERENCES [dbo].[Topics] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScientistTopicRoles] CHECK CONSTRAINT [FK_ScientistTopicRoles_Topics_topic_id]
GO
ALTER TABLE [dbo].[Topics]  WITH CHECK ADD  CONSTRAINT [FK_Topics_LvTopics_lvtopic_id] FOREIGN KEY([lvtopic_id])
REFERENCES [dbo].[LvTopics] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Topics] CHECK CONSTRAINT [FK_Topics_LvTopics_lvtopic_id]
GO
USE [master]
GO
