@page "/Admin/AllCurriculums"
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Authorization;

@attribute [Authorize(Roles = "Administrators")]

@using BlazorFE.Models.Scientist
@using BlazorFE.Services
@using BlazorFE.Components.Pages.Admin.AllCurriculums.Components

@inject CurriculumServices CurriculumServices
@inject NavigationManager NavigationManager

@if (listCurriculums != null)
{   
    <div class="card shadow rounded">
        <div class="p-3">
            <DataTable Searchable="true">
                <AllCurriculumsTable CurriculumsList="@listCurriculums" />
            </DataTable>
        </div>
    </div>
}

@code {
    public List<ScientistCurriculumRole> listCurriculums { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadScientists();
    }

    private async Task LoadScientists()
    {
        listCurriculums = (await CurriculumServices.GetAllCurriculumsAsync())
            .Where(smr => smr.requestStatus == "Đã tham gia")
            .ToList();
    }
}
