<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlazorFE.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <HeadOutlet />

    <style>
        .dataTables_paginate {
            display: flex !important;
            justify-content: center !important;
            margin-top: 10px !important;
        }

            .dataTables_paginate .paginate_button {
                padding: 10px !important;
                margin: 2px !important;
                border: 1px solid #ddd !important;
                border-radius: 4px !important;
                background-color: transparent !important;
                color: #007bff !important;
                cursor: pointer !important;
                transition: all 0.3s ease !important;
            }

                .dataTables_paginate .paginate_button:hover {
                    background-color: transparent !important;
                    color: white !important;
                }

                .dataTables_paginate .paginate_button.current {
                    background-color: #007bff !important;
                    color: white !important;
                    border-color: #0056b3 !important;
                }

                .dataTables_paginate .paginate_button.disabled {
                    color: #aaa !important;
                    cursor: not-allowed !important;
                }

    </style>
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="js/site.js"></script>
</body>

</html>
