@page "/Account/InvalidPasswordReset"

<PageTitle>Liên kết đặt lại mật khẩu không hợp lệ</PageTitle>

<h1>Liên kết đặt lại mật khẩu không hợp lệ</h1>
<p>
    Liên kết đặt lại mật khẩu không hợp lệ.
</p>

