@rendermode InteractiveServer

@inject GoogleDriveServices DriveService

<InputFile OnChange="HandleFileSelected" />
<button @onclick="HandleUploadFile" disabled="@(!isFileSelected)">Tải</button>

@code {
    private IBrowserFile selectedFile;
    private bool isFileSelected = false;

    private const string FolderId = "1hdkBV634KcqZH4Chkwk1d6sSoNt4Tu-G";

    private async Task HandleUploadFile()
    {
        if (selectedFile == null) return;

        try
        {
            using var stream = selectedFile.OpenReadStream();
            var fileId = await DriveService.UploadFileAsync(stream, selectedFile.Name, FolderId);
            await DriveService.MakeFilePublicAsync(fileId);
            var publicUrl = $"https://drive.google.com/uc?id={fileId}";
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }

    private void HandleFileSelected(InputFileChangeEventArgs e)
    {
        try
        {
            selectedFile = e.File;
            isFileSelected = selectedFile != null;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Lỗi khi chọn file: {ex.Message}");
        }
    }

}
