@using BlazorFE.Models.Scientist

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tên giáo trình</th>
            <th scope="col">Năm xuất bản</th>
            <th scope="col">Nhà xuất bản</th>
            <th scope="col">Loại sách</th>
            <th scope="col">Trình độ đào tạo</th>
            <th scope="col">Vai trò</th>
            <th scope="col">Tệp đính kèm</th>
        </tr>
    </thead>
    <tbody>
        @if (ListCurriculums != null && ListCurriculums.Count > 0)
        {
            int i = 1;
            foreach (var item in ListCurriculums)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td>@item?.Curriculums?.name</td>
                    <td>@item?.Curriculums?.year</td>
                    <td>@item?.Curriculums?.publisher</td>
                    <td>@item?.Curriculums?.Book?.book_name</td>
                    <td>@item?.Curriculums?.Training?.training_name</td>
                    <td>@item?.Role?.role_name</td>
                    <td></td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>

@code {
    [Parameter] public List<ScientistCurriculumRole> ListCurriculums { get; set; }
}
