@using Helpers
@using BlazorFE.Enums
@using BlazorFE.Models.Scientist

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tên đề tài</th>
            <th scope="col">Cấp đề tài/đề án</th>
            <th scope="col">Kết quả nghiệm thu</th>
            <th scope="col">Vai trò</th>
            <th scope="col">Ngày bắt đầu</th>
            <th scope="col">Ngày kết thúc</th>
        </tr>
    </thead>
    <tbody>
        @if (TopicsList != null && TopicsList.Count > 0)
        {
            int i = 1;
            foreach (var item in TopicsList)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td>@item?.Topics?.topic_name</td>
                    <td>@item?.Topics?.LvTopics?.lvtopic_name</td>
                    <td>
                        @{
                            Result enumValue;
                            string displayName = Enum.TryParse(@item?.Topics?.result, out enumValue)
                            ? Helpers.EnumHelper.GetEnumDisplayName(enumValue)
                            : "Không xác định";
                        }
                        @displayName
                    </td>
                    <td>@item?.Role?.role_name</td>
                    <td>@item?.Topics?.start_date?.ToShortDateString()</td>
                    <td>@item?.Topics?.end_date?.ToShortDateString()</td>
                </tr>
                i++;
            }
        }
        else
        {
            <tr>
                <td colspan="9" class="text-center">Không có dữ liệu</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter] public List<scientist_topic_role> TopicsList { get; set; }
}

