<div class="input-group mb-3 gap-2" style="max-width: 600px;">
    <input type="text" class="form-control" placeholder="Search..." @bind="searchItem" />
    <button class="btn btn-primary" @onclick="OnSearchClicked">Search</button>
    <button class="btn btn-primary" @onclick="ClearSearch">Clear</button>
</div>

@code {
    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    private string searchItem { get; set; } = string.Empty;

    private async Task OnSearchClicked()
    {
        await OnSearch.InvokeAsync(searchItem);
    }

    private void ClearSearch()
    {
        searchItem = string.Empty;
        OnSearch.InvokeAsync(string.Empty);
    }
}
