@page "/Admin/AllMagazines"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization;

@attribute [Authorize(Roles = "Administrators")]

@using BlazorFE.Models.Scientist
@using BlazorFE.Services
@using BlazorFE.Components.Pages.Admin.AllMagazines.Components

@inject MagazineServices MagazineServices
@inject NavigationManager NavigationManager

@if (listMagazines != null)
{
    <div class="card shadow rounded">
        <div class="p-3">
            <DataTable Searchable="true">
                <AllMagazinesTable MagazinesList="@listMagazines" />
            </DataTable>
        </div>
    </div>
}

@code {
    public List<ScientistMagazineRole> listMagazines { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadScientists();
    }

    private async Task LoadScientists()
    {
        listMagazines = (await MagazineServices.GetAllMagazinesAsync())
            .Where(smr => smr.requestStatus == "Đã tham gia")
            .ToList();
    }
}
